/*
 * MidaCSS Framework v1.3 by SlaVistaPL
 * Modern and easy-to-use webpage framework.
 */

@import url('https://fonts.googleapis.com/css2?family=Roboto');

* {
	font-family: Roboto, sans-serif;
}

body {
	margin: 0 !important;
}

/* Navbar sticky classes */
.navbar.sticky-top {
	position: -webkit-sticky !important;
	position: sticky !important;
	top: 0 !important;
}

.navbar.sticky-bottom {
	position: -webkit-sticky !important;
	position: sticky !important;
	bottom: 0 !important;
}

/* Containers */
.container {
	width: 100%;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	margin-right: -15px;
	margin-left: -15px;
}

/* Root classes and colors */
a.nav-link {
	text-decoration: none;
	color: black;
}

.divider {
	border: 1px 0 0 0 solid white;
}

.color-primary {
	background-color: rgb(0, 191, 255);
	color: white;
}

.color-secondary {
	background-color: rgb(153, 153, 153);
	color: black;
}

.color-success {
	background-color: rgb(0, 179, 60);
	color: white;
}

.color-warning {
	background-color: rgb(255, 205, 26);
	color: white;
}

.color-error {
	background-color: rgb(204, 0, 0);
	color: white;
}

.color-info {
	background-color: rgb(44, 177, 221);
	color: white;
}

.color-dark {
	background-color: rgb(60, 60, 60);
	color: white;
}

.color-light {
	background-color: rgb(230, 230, 230);
	color: black;
}

/* Margin classes */
.mx1 {
	margin-left: 10px;
	margin-right: 10px;
}

.mx2 {
	margin-left: 20px;
	margin-right: 20px;
}

.mx3 {
	margin-left: 30px;
	margin-right: 30px;
}

.mx4 {
	margin-left: 40px;
	margin-right: 40px;
}

.mx5 {
	margin-left: 50px;
	margin-right: 50px;
}

.my1 {
	margin-top: 10px;
	margin-bottom: 10px;
}

.my2 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.my3 {
	margin-top: 30px;
	margin-bottom: 30px;
}

.my4 {
	margin-top: 40px;
	margin-bottom: 40px;
}

.my5 {
	margin-top: 50px;
	margin-bottom: 50px;
}

/* Animations */
.animation {
	padding-top: 95px;
	margin-bottom:60px;
	-webkit-animation-duration: 2s;
	animation-duration: 2s;
	-webkit-animation-fill-mode: both;
	animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}

@keyframes fadeIn {
	0% {opacity: 0;}
	100% {opacity: 1;}
}
 
.fadeIn {
	-webkit-animation-name: fadeIn;
	animation-name: fadeIn;
}

@-webkit-keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}

@keyframes fadeOut {
	0% {opacity: 1;}
	100% {opacity: 0;}
}
 
.fadeOut {
	-webkit-animation-name: fadeOut;
	animation-name: fadeOut;
}

/* Alerts, just like Bootstrap */
.notification-light {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(230, 230, 230);
	padding: 15px;
	color: black;
	margin: 10px;
}

.notification-dark {
	box-shadow: 0 0 15px -5px black;
	border-radius: 5px;
	background-color: rgb(60, 60, 60);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-primary {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(0, 191, 255);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-secondary {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(153, 153, 153);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-success {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(0, 179, 60);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-warning {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(255, 205, 26);
	padding: 15px;
	color: black;
	margin: 10px;
}

.notification-error {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(204, 0, 0);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-info {
	box-shadow: 0 0 10px -5px black;
	border-radius: 5px;
	background-color: rgb(44, 177, 221);
	padding: 15px;
	color: white;
	margin: 10px;
}

.notification-link {
	text-decoration: none;
	font-weight: bold;
	color: white;
}

/* Badges */
.badge {
	display: inline-block;
  	padding: 0.25em 0.4em;
	font-size: 75%;
	font-weight: 700;
	line-height: 1;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: 5px;
	box-shadow: 0 0 10px -5px black;
	width: auto;
}

.badge-primary {
	background-color: rgb(0, 191, 255);
	color: white;
}

.badge-secondary {
	background-color: rgb(153, 153, 153);
	color: white;
}

.badge-success {
	background-color: rgb(0, 179, 60);
	color: white;
}

.badge-warning {
	background-color: rgb(255, 205, 26);
	color: black;
}

.badge-error {
	background-color: rgb(204, 0, 0);
	color: white;
}

.badge-info {
	background-color: rgb(44, 177, 221);
	color: white;
}

/* Buttons */
.button {
	border: 1px solid transparent;
	margin: 5px;
	padding: 10px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 7px;
	box-shadow: 5px 5px 6.5px -6.5px #111111;
	transition: box-shadow 500ms;
	outline: none;
}

.button-rounded {
	border: 1px solid transparent;
	padding: 10px;
	font-size: 1rem;
	line-height: 1.5;
	border-radius: 50px;
	box-shadow: 5px 5px 6.5px -6.5px #111111;
	transition: box-shadow 500ms;
	outline: none;
}

.button-rounded:hover {
	box-shadow: 5px 5px 9px -9px #111111;
}

.button:hover {
	box-shadow: 5px 5px 9px -9px #111111;
}

.button-rounded:active {
	box-shadow: 5px 5px 10px -10px #111111;
}

.button:active {
	box-shadow: 5px 5px 10px -10px #111111;
}

/* Navbar and their elements */
.navbar {
	height: auto;
	padding: 0 1rem;
	background-color: #dbdbdb;
	color: black;
	box-shadow: 0 0 10px -5px black;
	position: relative;
  	display: -ms-flexbox;
 	display: flex;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-flex-align: center;
	align-items: center;
	-ms-flex-pack: justify;
}

.navbar-logo-brand {
	font-weight: bold;
	font-size: 125%;
	padding: 0 10px 0 0;
	display: inline-block;
	padding-top: 0.3125rem;
	padding-bottom: 0.3125rem;
	margin-right: 1rem;
	font-size: 1.25rem;
	line-height: inherit;
	white-space: nowrap;
}

.navbar-item {
	font-weight: 200;
	height: auto;
	transition: background .25s ease-in-out;
	background: #d9d9d9;
	display: inline-block;
	padding: 10px;
	margin: 0 5px 0 5px;
}

.navbar-item:hover {
	background: #b1b1b1;
	cursor: pointer;
}

.navbar-item:active {
	background: #a6a6a6;
}

.navbar-collapsible {
	-ms-flex-preferred-size: 100%;
	flex-basis: 100%;
	-ms-flex-positive: 1;
	flex-grow: 1;
	-ms-flex-align: center;
	align-items: center;
	display: -ms-flexbox !important;
    display: flex !important;
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
}

/* Cards */
.card {
	box-shadow: 0 0 10px -5px black;
	padding: 10px;
	position: relative;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-direction: column;
	flex-direction: column;
	min-width: 0;
	word-wrap: break-word;
	background-color: #fff;
	background-clip: border-box;
	height: auto;
	border-radius: 3px;
}

.card-header {
	font-size: 150%;
	font-weight: bold;
	margin: 10px 0 10px 0;
}

.card-body {
	font-size: 100%;
	font-weight: normal;
}

/* Inputs */
.input {
	padding: 10px;
	border-radius: 5px;
	border: 1px solid transparent;
	font-size: 110%;
	outline: none;
	box-shadow: 0 0 10px -5px black;
}